<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adakah</title>
</head>

<body>
    <nav>
        <a id="nav-toggle">☰</a>
        <a class="nav-title" href="#">Restaurant</a>
        <div id="nav">
            <ul class="nav-list">
                <li class="nav-menu"><a href="#">Home</a></li>
                <li class="nav-menu"><a href="#">Favorite</a></li>
                <li class="nav-menu"><a href="#">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="hero__title">Bangun Karirmu Sebagai Developer Profesional</h1>
        <p class="hero__tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan
            developer expert</p>
    </div>
    <main>
        <resto-list></resto-list>
    </main>
</body>

</html>