<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>Makan Yuk</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <nav>
        <div class="nav-content">
            <button id="nav-toggle">☰</button>
            <a class="nav-title" href="/">Makan Yuk</a>
            <div id="nav">
                <ul class="nav-list">
                    <li class="nav-menu">
                        <a href="#/featured">
                            Home
                        </a>
                    </li>
                    <li class="nav-menu">
                        <a href="#/favorite">
                            Favorite
                        </a>
                    </li>
                    <li class="nav-menu">
                        <a href="https://www.linkedin.com/in/muhammad-muflihun-naim-ba410a19b/">
                            About Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <div class="jumbotron-content">
                <h1 class="jumbotron-title">Cari Restoran Gak Pake Lama</h1>
                <p class="jumbotron-tagline">Kalau lapar ya makan!</p>
            </div>
        </div>
    </div>
    <main id="maincontent"></main>
    <footer>
        <div class="footer-content">
            Copyright © 2021 - Makan Yuk
        </div>
    </footer>
</body>

</html>